application:
	mapping: App\Presentation\*\**Presenter
	# Api: Tomaj\NetteApi\Presenters\*Presenter
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx


database:
    dsn: 'mysql:host=md391.wedos.net;dbname=d380391_deaf;charset=utf8mb4'
    user: 'w380391_deaf'
    password: 'JFMeMcMT'

latte:
	strictTypes: yes
	strictParsing: yes
	extensions:
		- App\Presentation\Accessory\LatteExtension
		# - contributte.mailing:Contributte\Mailing\DI\MAilingExtension
		


di:
	export:
		parameters: yes
		tags: no


parameters:
	uploadDirImg: 'C:\xampp\htdocs\web\www\uploads\img'
	uploadDirPng: 'C:\xampp\htdocs\web\www\uploads\png'
	moveDir: '/../../../www/uploads/img/'
	# apiKey: 'AIzaSyDHlsSUNWn59jBbaw0tKjJZSRl01-r4H30'


