services:
	- App\Core\RouterFactory::createRouter
	- App\Model\ArticleManager
	- App\Model\Auth
	- App\Model\UserManager
	- App\Model\PostManager
	- App\Model\CalculatorManager
	- App\MyApi\v1\Handlers\UsersListingHandler
	- Tomaj\NetteApi\Link\ApiLink
	- Tomaj\NetteApi\Misc\IpDetector
	- App\MyApi\v1\Forms\ImgForm
	- App\Model\ImageUploadFormFactory
	- App\Service\YouTubeService



	

search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service

	