<div class="footer" style="background: #2a359b;
background: linear-gradient(19deg,rgba(42, 53, 155, 1) 19%, rgba(159, 188, 227, 1) 45%, rgba(255, 255, 255, 1) 60%);">
        <p>&copy; 2025 TV for Deaf. All rights reserved.</p>
    </div>